<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{# page.description }}
    <meta name="description" content="{{ . }}">
    {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,400italic,700,700italic|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- Le styles -->
    {{{ assets }}} 
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{urls.media}}/favicon.png">
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;">
            <ul class="nav navbar-nav">
              {{# site.navigation?to_pages }}
                {{> pages_list }}
              {{/ site.navigation?to_pages }}
            </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{{ content }}}
      </div>

      <div class="container-narrow">
        <footer>
          <p>&copy; {{ site.author.name }} 2013 
            with help from <a href="http://github.com/wendal/gor" target="_blank" title="Gor -- Fast Blog">Gor</a>
            and <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a>
  		  and Idea from <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh.</a> 
        Theme inspired by <a href="http://hahack.com/" target="_blank">hahack.</a>
          </p>
          <small>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh"><img title="知识共享许可协议" style="border-width: 0px; vertical-align: middle; display: inline; " src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" original="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png"></a>   
          </small>
        </footer>
      </div>

    </div> <!-- /container -->
    <a id="gotop" href="#" style="display: none; opacity: 1;"><span>▲</span></a>
    <script type="text/javascript" src="/assets/twitter/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/assets/twitter/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $(window).scroll(function(){  //只要窗口滚动,就触发下面代码 
          var scrollt = document.documentElement.scrollTop + document.body.scrollTop; //获取滚动后的高度 
          if( scrollt >200 ){  //判断滚动后高度超过200px,就显示  
            $("#gotop").fadeIn(400); //淡出     
          }else{      
            $("#gotop").stop().fadeOut(400); //如果返回或者没有超过,就淡入.必须加上stop()停止之前动画,否则会出现闪动   
          }
        });
        $("#gotop").click(function(){ //当点击标签的时候,使用animate在200毫秒的时间内,滚到顶部
          $("html,body").animate({scrollTop:"0px"},200);
        });
      });
    </script>

    {{{ google_prettify }}}
    {{{ analytics }}}
  </body>
</html>
